#offersList .fletxaSpan .notexpand,
#offersList .fletxaSpan .expand {
  color: $genwebPrimary !important;
}

.btnTFE,
.buttonsRight button.link,
.informacioTFE .bottomLinks button.link {
  background: $genwebPrimary !important;
}

.informacioTFE .buttonsOfferInfo .litMoreInfo {
  color: $genwebPrimary !important;
}

table.tableApplications,
table#form-widgets-teacher_manager-hint {
  border-top: 5px solid $genwebPrimary !important;
}

#market .rightInfoOffer.actions button,
#market .rightInfoOffer.actions > a,
table.tableApplications tbody .actions button,
table.tableApplications tbody .actions > a,
table#form-widgets-teacher_manager-hint tbody .actions > a {
  color: $genwebPrimary !important;
}

#market .rightInfoOffer.actions .workflowsAction .workflow.notclick,
table.tableApplications tbody .actions .workflowsAction .workflow.notclick {
  color: $genwebPrimary !important;
}

#market .rightInfoOffer.actions .caret,
table.tableApplications tbody .actions .caret,
table#form-widgets-teacher_manager-hint tbody .actions .caret {
  border-top: 4px solid $genwebPrimary !important;
}

#market .rightInfoOffer.actions button:hover,
table.tableApplications tbody .actions button:hover {
  border: 1px solid $genwebPrimary !important;
}

#market .rightInfoOffer.actions > a:hover,
table.tableApplications tbody .actions > a:hover,
table#form-widgets-teacher_manager-hint tbody .actions > a:hover {
  background-color: $genwebPrimary !important;
  border: 1px solid $genwebPrimary !important;
}

#market .rightInfoOffer.actions .estatsToggle li a:active,
table.tableApplications tbody .actions .estatsToggle li a:active,
#market .rightInfoOffer.actions .estatsToggle li a:hover,
table.tableApplications tbody .actions .estatsToggle li a:hover,
#market .rightInfoOffer.actions .estatsToggle li a:focus,
table.tableApplications tbody .actions .estatsToggle li a:focus {
  background-color: $genwebPrimary !important;
}

#formSearchOffers label.switch input:checked + .slider {
  background-color: $genwebPrimary !important;
}

#formSearchOffers label.switch input:focus + .slider {
  box-shadow: 0 0 1px $genwebPrimary !important;
}

#formSearchOffers span.keyword.checked {
  background-color: $genwebPrimary !important;
}

#formSearchOffers button,
.informacioTFE .buttonsOffer button,
.btnTFE {
  background: $genwebPrimary !important;
}
