/*CSS DAVID*/

.applications {
  padding-top: 40px;
}

#content-core .informacioTFE {
    position: relative;
}
#content-core .informacioTFE .fechas {
    position: absolute;
    right: 20px;
    top: 20px;
}
.offerData p {
    margin-top: 0px;
}
li.unstyled.offer {
    background-color: white !important;
    float: left;
    border-bottom: 1px solid #cecece;
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.documentDescription {
    font-size: 100%;
    color: #444;
    margin-bottom: 18px;
}
.informacioTFE {
    position: relative;
}
.fechas {
    position: absolute;
    top: 20px;
    right: 20px;
}
.informacioTFE {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 4px !important;
}
#parent-fieldname-text {
    margin-top: 30px;
}
a.etiquetes {
    color: white;
    font-weight: bold;
    background-color: #398ce3;
    padding: 2px 10px;
    border-radius: 6px !important;
    margin-right: 6px;
    margin-left: 6px;
}
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
}
#popup:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s;
}
.popup-contenedor {
    position: relative;
    margin: 7% auto;
    padding: 30px 50px;
    background-color: #fafafa;
    color: #333;
    border-radius: 3px;
    width: 50%;
}
a.popup-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}
span.btn.label.disabled {
    width: 105px !important;
    padding: 5px !important;
    border-radius: 2px !important;
}
li.unstyled.offer {
    margin-bottom: 5px;
}


/*FIN CSS DAVID*/

/*KO & IAGO CSS*/

#offersList {
  display: grid;
}

#offersList .nav.nav-tabs {
  margin-bottom: 0px;
}

#offersList .puntTitle .fletxaSpan {
  float: left;
  margin-right: 10px;
}

#offersList .puntTitle .titleSpan {
  float: left;
}

#offersList .puntTitle .boleta {
  margin-left: 0px;
  float: right;
}

#offersList button.expand {
  padding: 3px;
}

#offersList .fletxaSpan .expand {
  margin-top: 0px!important;
  padding-top: 2px!important;
  padding: 2px 6px;
}

#offersList #list {
  margin: 0px;
}

.informacioTFE .leftInfoOffer {
  margin-bottom: 20px;
}

.informacioTFE .rightInfoOffer {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.informacioTFE p {
  margin: 0px 0px 2px 0px;
}

.informacioTFE .field {
  font-weight: bold;
}

.informacioTFE .keyword {
    background-color: #fcfbfb;
    padding: 2px 6px;
    border-radius: 10px;
    border: 1px solid #666666;
    margin-left: 5px;
}

#headerSearchOffers {
  display: inline;
}

#headerSearchOffers h2 {
  float: left;
}

#offersList .offerData .data,
#offersList .offerData .applications,
#formSearchOffers {
  background-color: #f5f4f4;
  float: left;
  border-radius: 5px;
  border: 1px solid #666666;
  width: 99%;
}

#offersList .offerData {
  margin-top: 10px;
}

#formSearchOffers {
  width: 96%;
  margin-bottom: 20px;
  padding: 20px;
}

#formSearchOffers span {
  color: #557C95;
  font-weight: bold;
}

#formSearchOffers label {
  float: left;
  width: 100%;
  padding-right: 24px;
}

#formSearchOffers input[type='text'] {
  float: left;
  width: calc(100% - 14px);
}

#formSearchOffers input[type='checkbox'] {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

#formSearchOffers select {
  float: left;
  width: 100%;
}

#formSearchOffers button {
  float: right;
  background: #007BC0;
}

#formSearchOffers button span {
  color: #FFF;
  font-weight: normal;
}

#formSearchOffers .multicheckLine {
  margin: 5px 0px;
}

#formSearchOffers .multicheckLine label {
  width: auto;
  padding-right: 20px;
}

#formSearchOffers .multicheckLine input[type='checkbox'],
#formSearchOffers .multicheckLine input[type='radio'] {
  float: none;
  margin-right: 2px;
  margin-top: 0px;
}

#formSearchOffers .multicheckLine span {
  margin-right: 20px;
}

#offersList ul#offersList {
  margin: 0px;
}

#offersList #collapseAll,
#offersList .offerData,
#offersList .notexpand {
  display: none;
}

#offersList li.unstyled.offer {
  list-style: none;
  margin: 0px;
  display: grid;
}

#offersList .puntTitle {
  padding: 0px !important;
}

#offersList .titleSpan h3 {
  margin: 5px 0px !important;
}

#offersList .offerdesc {
  text-align: justify;
}

.portaltype-genweb-tfemarket-market #viewlet-below-content {
  margin-top: 35px;
}

/*FIN KO & IAGO CSS*/
