@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

/*CSS DAVID*/

#content-core .informacioTFE {
  position: relative;
}

#content-core .informacioTFE .fechas {
  position: absolute;
  right: 20px;
  top: 20px;
  }

.offerData p {
  margin-top: 0px;
}

li.unstyled.offer {
  background-color: white !important;
  float: left;
  border-bottom: 1px solid #cecece;
  width: 100%;
  padding: 8px 0px 8px 0px;
}

.documentDescription {
  font-size: 100%;
  color: #444;
  margin-bottom: 18px;
}

.informacioTFE {
  position: relative;
}

.fechas {
  position: absolute;
  top: 20px;
  right: 20px;
}

#parent-fieldname-text {
  margin-top: 30px;
}

a.etiquetes {
  color: white;
  font-weight: bold;
  background-color: #398ce3;
  padding: 2px 10px;
  border-radius: 6px !important;
  margin-right: 6px;
  margin-left: 6px;
}

#popup {
  visibility: hidden;
  opacity: 0;
  margin-top: -300px;
}

#popup:target {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 999;
  transition: all 1s;
}

.popup-contenedor {
  position: relative;
  margin: 7% auto;
  padding: 30px 50px;
  background-color: #fafafa;
  color: #333;
  border-radius: 3px !important;
  width: 50%;
}

a.popup-cerrar {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #333;
  padding: 7px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
  color: #fff;
}

span.btn.label.disabled {
  width: 105px !important;
  padding: 5px !important;
  border-radius: 2px !important;
}

li.unstyled.offer {
  margin-bottom: 5px;
}

/*FIN CSS DAVID*/

/*KO & IAGO CSS*/

body.portaltype-genweb-tfemarket-offer .documentDescription {
  display: none;
}

#offersList {
  display: grid;
}

#offersList .puntTitle .span8,
#offersList .nav.nav-tabs {
  margin-bottom: 0px;
}

#offersList .puntTitle .fletxaSpan {
  float: left;
  margin-right: 10px;
}

#offersList .puntTitle .boleta {
  margin-left: 0px;
  float: right;
}

#offersList .puntTitle .dates p,
#offersList .puntTitle .effectiveDate {
  margin-bottom: 0px;
}

#offersList .fletxaSpan .notexpand,
#offersList .fletxaSpan .expand {
  margin-top: 0px;
  padding: 4px 6px;
  background: #c35a0a;
  background-color: #eaeaea;
  border: 1px solid #d2d2d2;
  color: #c35a0a;
  border-radius: 3px !important;
}

#offersList #list {
  margin: 0px;
  margin-top: 20px;
}

#headerListOffers {
  margin-bottom: 20px;
}

#headerListOffers h2 {
  margin-top: 20px;
  text-align: left;
  float: left;
}

#headerListOffers .buttonsRight {
  float: right;
  margin-bottom: 0px;
}

#headerListOffers #buttonsSearch,
#headerListOffers #buttonsAllOffers {
  margin-right: 15px;
  cursor: pointer;
}

.tab-content .informacioTFE .bottomLinks,
.informacioTFE .leftInfoOffer {
  margin-top: 20px;
}

.informacioTFE .leftInfoOffer:first-child {
  margin-top: 0px;
}

.informacioTFE .moreInfo .leftInfoOffer:first-child {
  margin-top: 20px;
}

.informacioTFE .rightInfoOffer {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.informacioTFE .rightInfoOffer.actions {
  position: absolute;
  top: 0px;
  right: 0px;
}

.informacioTFE p {
  margin: 0px 0px 2px 0px;
}

#offersList .puntTitle .dates .field,
.informacioTFE .field {
  font-weight: 600;
}

.informacioTFE .keyword {
  display: inline-block;
  background-color: #fcfbfb;
  padding: 2px 6px;
  border-radius: 10px !important;
  border: 1px solid #666666;
  margin-left: 5px;
}

.informacioTFE .keyword:first-of-type {
  margin-left: 0px;
}

.informacioTFE .bottomLinks {
  float: right;
}

.buttonsRight button.link {
  margin-right: 15px;
}

.btnTFE:hover,
.buttonsRight a:hover,
.bottomLinks a:hover {
  text-decoration: none;
}

.btnTFE,
.buttonsRight button.link,
.informacioTFE .bottomLinks button.link {
  background: #c35a0a;
  border-radius: 2px !important;
}

.btnTFE,
.buttonsRight a button.link {
  text-shadow: none;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.informacioTFE .offerSeparator {
  border-top: 2px solid #FFFFFF;
}

.informacioTFE .buttonsOffer {
  padding-top: 20px;
}

.informacioTFE .buttonsOfferInfo {
  height: 35px;
}

.informacioTFE .buttonsOfferInfo .offerMoreInfo {
  float: right;
}

.informacioTFE .buttonsOfferInfo .litMoreInfo {
  display: inline-table;
  margin-top: 4px;
  vertical-align: middle;
  margin-right: 10px;
  color: #c35a0a;
  font-weight: 600;
}

.informacioTFE .buttonsOfferInfo .showMoreInfo {
  border-radius: 15px !important;
  padding: 2px;
  border: 1px solid #666;
  background-color: #fcfbfb;
  cursor: pointer;
  float: right;
  height: 20px;
  width: 20px;
  display: block;
  text-align: center;

}

#headerSearchOffers {
  display: inline;
}

#headerSearchOffers h2 {
  float: left;
}

#offersList .offerData {
  margin-top: 10px;
}

#offerData .data,
#offersList .offerData .data,
#applicationData{
  background-color: #f5f4f4;
  float: left;
  padding: 20px;
  border-radius: 2px !important;
  border: 1px solid #eaeaea;
  width: 95.7%;
  position: relative;
}

#offerData {
  margin: 15px 0px;
}

#offerData .informacioTFE .rightInfoOffer {
  top: 0px;
  right: 0px;
  text-align: right;
}

table.tableApplications,
table#form-widgets-teacher_manager-hint {
  border-top: 5px solid #c35a0a;
}

table.tableApplications thead th,
table#form-widgets-teacher_manager-hint thead th {
  background-color: #efefef;
  text-align: left;
  padding: 5px;
}

table.tableApplications tbody tr:nth-child(odd),
table#form-widgets-teacher_manager-hint tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

table.tableApplications tbody tr,
table#form-widgets-teacher_manager-hint tbody tr {
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
}


table.tableApplications tbody td,
table#form-widgets-teacher_manager-hint tbody td {
  text-align: left;
  padding: 5px;
}

table.tableApplications tbody .actions,
table#form-widgets-teacher_manager-hint tbody .actions {
  text-align: right;
}

table.tableApplications tbody .actions .modal,
table#form-widgets-teacher_manager-hint tbody .actions .modal {
  text-align: left;
}

table.tableApplications tbody .actions .modal .modal-body,
table#form-widgets-teacher_manager-hint tbody .actions .modal .modal-body {
  white-space: initial;
}

#applicationData,
#market #userApplication {
  margin-bottom: 25px;
}

#market .moreInfo {
  display: none;
}

#market .rightInfoOffer.actions button,
#market .rightInfoOffer.actions > a,
table.tableApplications tbody .actions button,
table.tableApplications tbody .actions > a,
table#form-widgets-teacher_manager-hint tbody .actions > a {
  background-color: #FFF;
  border: 1px solid #adadad;
  color: #c35a0a;
  padding: 3px 6px;
  text-shadow: none;
}

#market .rightInfoOffer.actions button.ignore,
#market .rightInfoOffer.actions > a.ignore,
table.tableApplications tbody .actions button.ignore,
table.tableApplications tbody .actions > a.ignore,
table#form-widgets-teacher_manager-hint tbody .actions > a.ignore {
  color: #800000 !important;
}

#market .rightInfoOffer.actions button.disabled,
table.tableApplications tbody .actions button.disabled,
#market .rightInfoOffer.actions button.disabled:hover,
table.tableApplications tbody .actions button.disabled:hover {
  color: #ADADAD !important;
  cursor: default;
  border: 1px solid #adadad !important;
}

#market .rightInfoOffer.actions .workflowsAction .workflow.notclick,
table.tableApplications tbody .actions .workflowsAction .workflow.notclick {
  background-color: #FFF;
  border: 1px solid #adadad;
  color: #c35a0a;
  padding: 3px 6px;
  border-radius: 3px !important;
  text-shadow: none;
}

#market .rightInfoOffer.actions .workflowsAction .ignore.workflow.notclick,
table.tableApplications tbody .actions .workflowsAction .ignore.workflow.notclick {
  color: #800000 !important;
}

#market .rightInfoOffer.actions a,
table.tableApplications tbody .actions a,
table#form-widgets-teacher_manager-hint tbody .actions a {
  transition: none;
}

#market .rightInfoOffer.actions > a.edit,
table.tableApplications tbody .actions > a.edit {
  margin-right: 4px;
  padding: 2px 4px 3px 6px;
}

#market .rightInfoOffer.actions .caret,
table.tableApplications tbody .actions .caret,
table#form-widgets-teacher_manager-hint tbody .actions .caret {
  border-top: 4px solid #c35a0a;
  vertical-align: middle;
}

#market .rightInfoOffer.actions .ignore .caret,
table.tableApplications tbody .actions .ignore .caret,
table#form-widgets-teacher_manager-hint tbody .actions .ignore .caret {
  border-top: 4px solid #800000 !important;
}

#market .rightInfoOffer.actions button:hover,
table.tableApplications tbody .actions button:hover {
  border: 1px solid #c35a0a;
}

#market .rightInfoOffer.actions button.ignore:hover,
table.tableApplications tbody .actions button.ignore:hover {
  border: 1px solid #800000 !important;
}

#market .rightInfoOffer.actions button.disabled:hover,
table.tableApplications tbody .actions button.disabled:hover {
  border: 1px solid #ADADAD !important;
}


#market .rightInfoOffer.actions > a:hover,
table.tableApplications tbody .actions > a:hover,
table#form-widgets-teacher_manager-hint tbody .actions > a:hover {
  background-color: #c35a0a;
  color: #FFF !important;
  border: 1px solid #c35a0a;
  background-image: none;
}

#market .rightInfoOffer.actions .workflowsAction,
table.tableApplications tbody .actions .workflowsAction {
  display: inline-block;
}

#market .rightInfoOffer.actions .estatsToggle,
table.tableApplications tbody .actions .estatsToggle {
  top: auto;
  left: auto;
  min-width: auto;
}

#market .rightInfoOffer.actions .estatsToggle li,
table.tableApplications tbody .actions .estatsToggle li {
  border: 0px;
  text-align: left;
}


#market .rightInfoOffer.actions .estatsToggle li a:active,
table.tableApplications tbody .actions .estatsToggle li a:active,
#market .rightInfoOffer.actions .estatsToggle li a:hover,
table.tableApplications tbody .actions .estatsToggle li a:hover,
#market .rightInfoOffer.actions .estatsToggle li a:focus,
table.tableApplications tbody .actions .estatsToggle li a:focus {
  background-color: #c35a0a;
  background-image: none;
  color: #FFF;
}

#offersList .offerData .applications ul,
#offersList .offerData .applications li {
  text-decoration: none;
}

#formSearchOffers {
  width: 100%;
  padding: 0px 20px 20px 20px;
  float: left;
}

#formSearchOffers .saved {
  display: block;
}

#formSearchOffers .unsaved {
  display: none;
}

#formSearchOffers span {
  font-weight: normal;
  margin-bottom: 4px;
  font-size: 13px;
  color: #555;
}

#formSearchOffers label {
  float: left;
  width: 100%;
  padding-right: 24px;
  color: #6d6d6d;
}

#formSearchOffers label.switch {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 18px;
  margin-bottom: 0px
}

#formSearchOffers label.switch input {
  display: none;
}

#formSearchOffers label.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 0px
}

#formSearchOffers label.switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#formSearchOffers label.switch input:checked + .slider {
  background-color: #c35a0a;
}

#formSearchOffers label.switch input:focus + .slider {
  box-shadow: 0 0 1px #c35a0a;
}

#formSearchOffers label.switch input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

#formSearchOffers label.switch .slider.round {
  border-radius: 34px !important;
}

#formSearchOffers label.switch .slider.round:before {
  border-radius: 50%;
}

#formSearchOffers input[type='text'] {
  float: left;
  width: calc(100% - 14px);
  height: 25px;
  margin-bottom: 18px;
  border-color: #dedede;
}

#formSearchOffers input[type='checkbox'] {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

#formSearchOffers select {
  float: left;
  width: 100%;
  height: 35px;
  margin-bottom: 18px;
  border-color: #dedede;
}

#formSearchOffers button {
  background: #007BC0;
}

#formSearchOffers button a,
#formSearchOffers button span {
  color: #FFF;
  text-shadow: none;
  font-size:15px;
  font-weight: 600;
}

#formSearchOffers .multicheck label {
  padding-right: 20px;
}

#formSearchOffers .multicheck input[type='checkbox'],
#formSearchOffers .multicheck input[type='radio'] {
  float: none;
  margin-right: 2px;
  margin-top: 0px;
}

#formSearchOffers .multicheck .multicheckOptions > span {
  margin-right: 20px;
  display: inline-block
}

#formSearchOffers span.keyword {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 15px;
  border-radius: 20px !important;
  margin-left: 0px;
  cursor: pointer;
}

#formSearchOffers span.keyword input[type='checkbox'] {
  display: none;
}

#formSearchOffers span.keyword.checked {
  background-color: #c35a0a;
  color: white;
}

#formSearchOffers span.keyword.checked span {
  color: white!important;
}


#formSearchOffers .bottomLinks {
  float: right;
}

#formSearchOffers .bottomLinks button.link {
  margin-right: 5px;
}

#formSearchOffers .bottomLinks button.link a {
  text-decoration: none;
  text-shadow: none;
}

#formSearchOffers .span6,
#formSearchOffers .span4,
#formSearchOffers .span3,
#formSearchOffers .span2 {
  margin-bottom: 0px;
}

#offersList .hide,
#offersList .offerData,
#offersList .notexpand,
#offersList #collapseAll,
#offersList .hideApplicationsLit {
  display: none;
}

#offerData ul {
  margin-bottom: 0px;
}

#offerData .applications ul {
  list-style-type: none;
  margin-left: 0px;
}

#offersList li.unstyled.offer,
#offerData li.unstyled.offer {
  list-style: none;
  margin: 0px;
  display: grid;
}

#offersList .puntTitle,
#offerData .puntTitle {
  padding: 0px !important;
  display: flex;
  align-items: center;
}

#offersList .titleSpan h3,
#offerData .titleSpan h3 {
  margin: 5px 0px 5px 37px !important;
}

#offersList .titleSpan h3 span,
#offerData .titleSpan h3 span{
  color: #cbcbcb;
}


#offersList .offerdesc,
#offerData .offerdesc {
  text-align: justify;
}

.portaltype-genweb-tfemarket-market #viewlet-below-content {
  margin-top: 35px;
}

#form-widgets-teacher_manager-modal {
  width: 70% !important;
  left: 37% !important;
}

#form-widgets-teacher_manager-btn-modal,
#form-widgets-teacher_manager-btn {
  margin-bottom: 9px;
}

#form-widgets-teacher_manager-error {
  color: #FF0000;
  display: none
}

#form-widgets-teacher_manager-error.viewError,
#form-widgets-teacher_manager-warn.viewWarn {
  display: block
}

#form-widgets-teacher_manager-warn {
  display: none
}

.portaltype-genweb-tfemarket-market .infoTfemarket {
  margin-right: 5px;
  height: 22px;
  width: 22px;
}

.portaltype-genweb-tfemarket-market .infoTfemarket .fa-info-circle  {
  font-size: 1.9em;
}

#formSearchOffers button,
.informacioTFE .buttonsOffer button,
.btnTFE {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #7f7f7f;
  border-bottom-color: #595959;
  text-shadow: none;
  text-decoration: none;
  color: #FFF;
  border-radius: 2px !important;
  background: #c35a0a;
  border-color: #ac3549;
  padding: 6px 14px;
  min-width: 125px;
  font-size: 15px;
  font-weight: 600;
}

.btnTFE {
  height: 20px;
}

.informacioTFE .buttonsOffer button:hover,
.buttonsRight a button.link:hover,
#formSearchOffers button:hover,
.btnTFE:hover,
.btnTFE:active {
  color: #FFF;
  outline: 0;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #7f7f7f;
  border-bottom-color: #595959;
}

.informacioTFE .span6 {
  margin-bottom: 0px;
}

.informacioTFE .applications {
  padding-top: 20px;
}

.offerData .offerInfo .btn-success {
  margin-left: 10px;
  vertical-align: baseline;
}

.portaltype-genweb-tfemarket-market .row-fluid .span12 {
  margin-top: 10px;
}

#listing-table a.contenttype-genweb-tfemarket-application:before,
#listing-table a.contenttype-document:before,
#listing-table span.contenttype-genweb-tfemarket-application:before,
#listing-table span.contenttype-document:before,
.template-tabular_view .listing a.contenttype-genweb-tfemarket-application:before,
.template-tabular_view .listing a.contenttype-document:before,
.template-tabular_view .listing span.contenttype-genweb-tfemarket-application:before,
.template-tabular_view .listing span.contenttype-document:before,
.contenttreeWidget > .navTree a.contenttype-genweb-tfemarket-application:before,
.contenttreeWidget > .navTree a.contenttype-document:before,
.contenttreeWidget > .navTree span.contenttype-genweb-tfemarket-application:before,
.contenttreeWidget > .navTree span.contenttype-document:before,
.collage-content-menu a.contenttype-genweb-tfemarket-application:before,
.collage-content-menu a.contenttype-document:before,
.collage-content-menu span.contenttype-genweb-tfemarket-application:before,
.collage-content-menu span.contenttype-document:before,
span.icon-genweb-tfemarket-application{
  background-position: -192px -143px;
  width: 14px;
  height: 14px;
}

#listing-table a.contenttype-genweb-tfemarket-offer:before,
#listing-table a.contenttype-document:before,
#listing-table span.contenttype-genweb-tfemarket-offer:before,
#listing-table span.contenttype-document:before,
.template-tabular_view .listing a.contenttype-genweb-tfemarket-offer:before,
.template-tabular_view .listing a.contenttype-document:before,
.template-tabular_view .listing span.contenttype-genweb-tfemarket-offer:before,
.template-tabular_view .listing span.contenttype-document:before,
.contenttreeWidget > .navTree a.contenttype-genweb-tfemarket-offer:before,
.contenttreeWidget > .navTree a.contenttype-document:before,
.contenttreeWidget > .navTree span.contenttype-genweb-tfemarket-offer:before,
.contenttreeWidget > .navTree span.contenttype-document:before,
.collage-content-menu a.contenttype-genweb-tfemarket-offer:before,
.collage-content-menu a.contenttype-document:before,
.collage-content-menu span.contenttype-genweb-tfemarket-offer:before,
.collage-content-menu span.contenttype-document:before,
span.icon-genweb-tfemarket-offer{
  background-position: -120px -168px;
  width: 14px;
  height: 14px;
}

#listing-table a.contenttype-genweb-tfemarket-market:before,
#listing-table a.contenttype-document:before,
#listing-table span.contenttype-genweb-tfemarket-market:before,
#listing-table span.contenttype-document:before,
.template-tabular_view .listing a.contenttype-genweb-tfemarket-market:before,
.template-tabular_view .listing a.contenttype-document:before,
.template-tabular_view .listing span.contenttype-genweb-tfemarket-market:before,
.template-tabular_view .listing span.contenttype-document:before,
.contenttreeWidget > .navTree a.contenttype-genweb-tfemarket-market:before,
.contenttreeWidget > .navTree a.contenttype-document:before,
.contenttreeWidget > .navTree span.contenttype-genweb-tfemarket-market:before,
.contenttreeWidget > .navTree span.contenttype-document:before,
.collage-content-menu a.contenttype-genweb-tfemarket-market:before,
.collage-content-menu a.contenttype-document:before,
.collage-content-menu span.contenttype-genweb-tfemarket-market:before,
.collage-content-menu span.contenttype-document:before,
span.icon-genweb-tfemarket-market{
  background-position: -433px -144px;
  width: 14px;
  height: 14px;
}


/* Contenido de plone > Display = None */
.portaltype-genweb-tfemarket-market #viewlet-above-content,
.portaltype-genweb-tfemarket-market #viewlet-above-content-title,
.portaltype-genweb-tfemarket-market #viewlet-below-content,
.portaltype-genweb-tfemarket-market.userrole-teacher #edit-bar,
.portaltype-genweb-tfemarket-market #viewlet-below-content-title .documentByLine,
.portaltype-genweb-tfemarket-market ul#contentActionMenus li.dropdown:first-of-type,
.portaltype-genweb-tfemarket-offer #viewlet-above-content,
.portaltype-genweb-tfemarket-offer #viewlet-above-content-title,
.portaltype-genweb-tfemarket-offer #viewlet-below-content,
.portaltype-genweb-tfemarket-offer.userrole-teacher #edit-bar,
.portaltype-genweb-tfemarket-offer #viewlet-below-content-title .documentByLine,
.portaltype-genweb-tfemarket-offer ul#contentActionMenus li.dropdown:first-of-type,
.portaltype-genweb-tfemarket-application #viewlet-above-content,
.portaltype-genweb-tfemarket-application #viewlet-above-content-title,
.portaltype-genweb-tfemarket-application #viewlet-below-content,
.portaltype-genweb-tfemarket-application.userrole-teacher #edit-bar,
.portaltype-genweb-tfemarket-application #viewlet-below-content-title .documentByLine,
.portaltype-genweb-tfemarket-application ul#contentActionMenus li.dropdown:first-of-type {
  display: none;
}


/* Campo título ampliar */

.portaltype-genweb-tfemarket-offer #form-widgets-title,
.portaltype-genweb-tfemarket-market #form-widgets-title,
.portaltype-genweb-tfemarket-application #form-widgets-title {
  width: calc(100% - 14px); /* Le restamos el padding (6 - 6) y el borde (1 - 1) */
}


/* Cabecera Mercado */

.portaltype-genweb-tfemarket-market  #market {
  margin-top: 20px;
}

.portaltype-genweb-tfemarket-market #portal-header,
.portaltype-genweb-tfemarket-offer #portal-header,
.portaltype-genweb-tfemarket-application #portal-header {
  height: 222px;
}

.portaltype-genweb-tfemarket-market #portal-header .header-image.l3-image,
.portaltype-genweb-tfemarket-offer #portal-header .header-image.l3-image,
.portaltype-genweb-tfemarket-application #portal-header .header-image.l3-image {
  background-image: url(../background-tfe.jpg);
  height: 66px;
  background-size: cover;
  width: 100%;
  padding: 44px 0px 0px 0px;
  display: block !important;
  text-align: right;
}

.portaltype-genweb-tfemarket-market #portal-header .header-image.l3-image:after,
.portaltype-genweb-tfemarket-offer #portal-header .header-image.l3-image:after,
.portaltype-genweb-tfemarket-application #portal-header .header-image.l3-image:after {
  content: "Ofertes de treballs de final d'estudis";
  color: white;
  text-shadow: 2px 2px 10px black;
  text-align: right;
  padding-right: 20px;
  font-size: 33px;
  font-weight: 600;
}

.portaltype-genweb-tfemarket-market #portal-header .logoPropi,
.portaltype-genweb-tfemarket-offer #portal-header .logoPropi,
.portaltype-genweb-tfemarket-application #portal-header .logoPropi {
  padding: 0px;
}

@media only screen and (max-width: 640px) {
  #offersList .puntTitle,
  #offerData .puntTitle {
    display: inline;
  }

   .puntTitle .actions.span2,
  .puntTitle .dates.span2 {
    width: 50% !important;
  }

  .puntTitle .dates.span2 {
    float: left !important;
    padding-left: 35px !important;
  }

  .puntTitle .actions.span2 {
    float: right !important;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 420px) {
  #offersFilter,
  #headerListOffers {
    margin-top: 20px;
  }

  .puntTitle .dates.span2 {
    width: 30% !important;
  }

  .puntTitle .actions.span2 {
    width: 70% !important;
  }
}

/* Formulario solicitud */

.portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_id,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_title,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-dni,
.portaltype-genweb-tfemarket-offer:not(.template-edit) #formfield-form-widgets-title,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-phone,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-email {
  display: inline-block;
}

.portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_id,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-dni,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-phone {
  width: 30%
}

.portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_title,
.portaltype-genweb-tfemarket-offer:not(.template-edit) #formfield-form-widgets-title,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-email {
  width: 69%
}

.portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_title input,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-degree_title input,
.portaltype-genweb-tfemarket-offer:not(.template-edit) #formfield-form-widgets-title input,
.portaltype-genweb-tfemarket-offer #formfield-form-widgets-email input {
  width: 99%
}

@media only screen and (max-width: 850px) {
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_id,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_title,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-dni,
  .portaltype-genweb-tfemarket-offer:not(.template-edit) #formfield-form-widgets-title,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-phone,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-email {
    display: block;
    width: 100%;
  }

  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_id input,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-offer_title input,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-degree_title input,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-dni input,
  .portaltype-genweb-tfemarket-offer:not(.template-edit) #formfield-form-widgets-title input,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-phone input,
  .portaltype-genweb-tfemarket-offer #formfield-form-widgets-email input {
    width: 98%;
  }
}

.portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_id,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_title,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-dni,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-title,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-phone,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-email {
  display: inline-block;
}

.portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_id,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-dni,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-phone {
  width: 30%
}

.portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_title,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-title,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-email {
  width: 69%
}

.portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_title input,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-degree_title input,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-title input,
.portaltype-genweb-tfemarket-application #formfield-form-widgets-email input {
  width: 99%
}

@media only screen and (max-width: 850px) {
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_id,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_title,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-dni,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-title,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-phone,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-email {
    display: block;
    width: 100%;
  }

  .portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_id input,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-offer_title input,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-degree_title input,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-dni input,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-title input,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-phone input,
  .portaltype-genweb-tfemarket-application #formfield-form-widgets-email input {
    width: 98%;
  }
}

td.actions{
  width: 165px;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 0 0 !important;
}

#market #formSearchOffers {
  position: relative;
}

#market .loaderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 1000;
  display: none;
}

#market .loader {
  border: 8px solid #dbdbdb;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*FIN KO & IAGO CSS*/

/* ALBERT */

.portaltype-genweb-tfemarket-market,
.portaltype-genweb-tfemarket-offer,
.portaltype-genweb-tfemarket-application {
  font-family:'Open Sans', sans-serif
}

.portaltype-genweb-tfemarket-market label,
.portaltype-genweb-tfemarket-offer label,
.portaltype-genweb-tfemarket-application label {
  color: #6d6d6d;
  margin-bottom: 5px;
  display: inline-block;
}

.portaltype-genweb-tfemarket-market label *.label,
.portaltype-genweb-tfemarket-offer label *.label,
.portaltype-genweb-tfemarket-application label *.label {
  font-weight: normal;
  margin-bottom: 4px;
  font-size: 13px;
  color: #555;
}

.portaltype-genweb-tfemarket-market h2.formFieldset,
.portaltype-genweb-tfemarket-offer h2.formFieldset,
.portaltype-genweb-tfemarket-application h2.formFieldset {
  padding: 4px 0px;
  margin-top: 0px;
}

#formfield-form-widgets-grant,
#formfield-form-widgets-confidential,
#formfield-form-widgets-environmental_theme {
  margin-bottom: 0px;
}

#form-widgets-degree .option {
  margin-bottom: 3px;
}

#form-widgets-degree label {
  display: initial;
}

.portaltype-genweb-tfemarket-market nav#portal-globalnav,
.portaltype-genweb-tfemarket-market nav#portal-breadcrumbs,
.portaltype-genweb-tfemarket-market #portal-breadcrumbs,
.portaltype-genweb-tfemarket-market h1.documentFirstHeading,
.portaltype-genweb-tfemarket-offer nav#portal-globalnav,
.portaltype-genweb-tfemarket-offer nav#portal-breadcrumbs,
.portaltype-genweb-tfemarket-offer #portal-breadcrumbs,
.portaltype-genweb-tfemarket-offer h1.documentFirstHeading,
.portaltype-genweb-tfemarket-application nav#portal-globalnav,
.portaltype-genweb-tfemarket-application nav#portal-breadcrumbs,
.portaltype-genweb-tfemarket-application #portal-breadcrumbs,
.portaltype-genweb-tfemarket-application h1.documentFirstHeading {
  display: none;
}

.portaltype-genweb-tfemarket-market #content-area {
  margin-top: 0px;
}

.portaltype-genweb-tfemarket-market #searchOffers {
  background-image: url(../pattern-tfe.png);
  display: flex;
}

.portaltype-genweb-tfemarket-market #formSearchOffers h2 {
  margin-top: 20px;
}

.portaltype-genweb-tfemarket-market #searchOffers h2 {
   margin-top: 20px!important;
}

#formSearchOffers div#searchGrants,
#formSearchOffers .multicheck {
  margin-bottom: 18px;
}

#formSearchOffers .multicheckOptionsKeys .keyword span {
  font-size: 13px;
  font-weight: 600;
}

#offersList #notResults {
  margin-top: 20px;
}

.puntTitle .actions.span2 {
  text-align: right;
  width: 20.69939%;
  min-height: 0px;
  margin-left: 0px;
  margin-left: 1%;
}

.puntTitle .dates.span2 {
  width: 16.11043%;
}

p.effectiveDate {
  margin-bottom: 0px;
}

.nav-tabs > li,
.contentViews > li,
.configlets > li {
  margin-bottom: -2px;
}

body.template-import_ofertes .alert-error {
  white-space: pre-line;
  display: table;
  width: 100%;
}
